params {
    bin_path = "../bin"
    settings = "./data/settings.txt"
    out_dir  = "results"
}

manifest {
    name            = 'bcl/genetic-circuit-analysis-nextflow-pipeline'
    author          = 'Omar Shalim'
    description     = 'Read mapping, counting, fragment analysis & transcription profiles'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.0.0'
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    standard {
        docker.enabled = false
    }

    local {
        process.executor = 'local'
    }
}
